/* Importing the Comic Neue font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300;300;700&display=swap');

/* Define custom CSS variables for colors */
:root {
    --primary-color: rgb(234, 126, 18);             /* #800000 */
    --secondary-color: FireBrick;        /* #B22222 */
    --background-color: rgb(221, 216, 52);     /* #FFA07A */
    --container-color: rgb(84, 82, 22);        /* #FFDAB9 */
    --emphasize-color: rgb(64, 13, 13);        /* #DAA520 */
}

/* Apply styles to the entire body */
body {
    background-color: var(--background-color) !important;
    font-family: Verdana, Tahoma, sans-serif !important;
    overflow-y: auto;
    padding: 0px;
    margin: 0px;
}

/* Style the navigation bar */
nav {
    background-color: var(--container-color);
    height: 60px !important;
}

/* Style the header section */
header {
    height: 60px !important;
}

/* Style the main content area */
main {
    height: calc(100vh - 100px) !important;
}

/* Style the footer */
footer {
    background-color: var(--container-color);
    color: var(--primary-color);
    height: 25px !important;
    font-weight: bold;
    margin: 0;
    bottom: 0;
}

/* Style the fixed footer */
.rodape {
    position: fixed;
    text-align: center;
    width: 100%;
}

/* Style the main container */
.main-container {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20vh;
}

/* Style the logo */
.logo-container {
    width: 200px;
}

/* Style the text container */
.text-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    margin-left: 50px;
}

/* Style headings and paragraphs within the text container */
.text-container h1, p {
    color: var(--secondary-color);
}

/* Style the main heading */
.text-container h1 {
    font-size: 2.5em !important;
    font-weight: bold !important;
}

/* Style paragraphs within the text container */
.text-container p {
    font-size: 1.5em !important;
    text-align: left;
}

/* Center elements vertically */
.vertical-center {
    vertical-align: middle;
}

/* Media query for smaller screens */
@media (max-width: 912px) {
    .main-container {
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        margin-top: 10vh;
    }

    .text-container {
        margin-top: 30px;
        margin-left: 0px;
    }

    .text-container p {
        text-align: center;
        margin-top: 20px;
    }
}

/* Media query for even smaller screens */
@media (max-width: 500px) {
    .text-container h1 {
        font-size: 1.5em !important;
        margin-bottom: 20px;
    }

    .text-container p {
        font-size: 1.3em !important;
    }
}

/* Style the "font-kid" class */
.font-kid {
    font-family: 'Comic Neue', cursive !important;
    font-size: 3em !important;
    color: var(--primary-color) !important;
}

/* Style buttons with the "btn-kid" class */
.btn-kid {
    background-color: var(--container-color) !important;
    border: 0px solid var(--primary-color);
}

/* Hover effect for buttons with the "btn-kid" class */
.btn-kid:hover {
    background-color: var(--emphasize-color);
    color: black;
}

/* Style elements with the "main-color" class */
.main-color {
    color: var(--primary-color);
}

/* Style the active link with the "active" ID */
#active {
    color: var(--emphasize-color) !important;
}
